/*Css generales*/
body{
    background-color:cadetblue;
    display: inline-block;
    width: auto;
    height: auto;
}
h2{
    background-color: gray;
    height: 20%;
    margin: 0px;
    width: 100%;
}
#capacidades{
    color: blue;
    width: 100%;
    margin: 5px 0px 5px;
}
p{
    background-color: gainsboro;
    height: 80%;
    width: 100%;
    margin: 0px 0px 0px;
}
li{
    background-color: gainsboro;
}
section{
    width: 100%;
    height: auto;
    
}
/*Css para header*/
header{
    width: 90%;
    height: 100%;
    text-align: center;
}
/*Css para main*/
main{
    width: 100%;
    height: 100%;
}

#garden{
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: 20% 80%;
}

main section#garden{
    height: 300px;
}
main section#garden img{
    width: 95%;
    height: 95%;
    max-width: 95%;
    max-height: 95%;
    grid-row-start: 1;
    grid-row-end: 3;
}
main section#garden h2{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 60px;
    margin: 0px 0px;
}

main section#garden p{
    grid-row-start: 2;
    grid-column-end: 3;
    height: 220px;
    width: auto;
    margin: 5px 0px;
}
main section input{
    max-width: 10%;
}

/*Css para footer*/