/* Css generales */
body{
    background: #079BA7;
}


/* Css main */

form {
    width: 850px;
    height: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: gainsboro;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

div{
    width: 50%;
}

label{
    margin-right: 20px;
}
.uno{
    width: 50%;
    height: 80%;
}
input{
    width: 98%;
    height: 80%;
}
select{
    width: 100%;
    height: 80%;
}

.multi{
    display: flex;
    justify-content: space-between;
}