
body{
    width: auto;
    height: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

div{
    width: 24%;
    height: 30%;
    text-align: center;

}
h2{
    margin: 0px;
}
img{
    width: 50%;
    height: 40%;
}


