body{
    width: auto;
    height: auto;
    background-color: gainsboro;
}
table, th, td{
    border-collapse: collapse;
    border: 4px solid rgb(10, 110, 110);
    background-color: darkturquoise;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 5px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}