body{
    width: auto;
    height: auto;
    background-image: url(/assets/img/fondos/3\ spirits.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}
nav{
    width: 100%;
    background-color: aquamarine;
    display: inline-block;
}
nav ul{
    display: flex;
    justify-content: start;
    
}

nav ul li{
    list-style: none;
    margin-right: 20px;
}
main{
    width: 100%;
    height: 100%;
    margin: auto 0% auto;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}


footer aside ul a img{
    width: 100px;
    height: 100px;
}