body{
    width: auto;
    height: auto;
    background-color: gainsboro;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
li{
    background-color: aquamarine;
    width: 100px;
    border: solid;
    padding: 10px;
    list-style: none;
    margin: 5px;
}