body{
    background-color: aqua;
}

header, nav, main, footer{
    padding: 10px;
    margin: auto;
    border: solid;
}

/*Css para el header*/
header{
    width: 750px;
    height: 250px;
    display: flex;
    background-color:cadetblue;
    gap: 10px;
}



header #banner{
    width: 500px;
    height: 95%;
    background-color: white;
    text-align: center;
}

header #logo{
    width: 250px;
    height: 95%;
    background-color: white;
    text-align: center;
}

/*Css para Nav*/
nav{
    width: 750px;
    height: 50px;
    display: flex;
    background-color: green;
}

/*Css para main*/

main{
    width: 750px;
    height: 400px;
    display: flex;
    background-color:burlywood;
    gap: 10px;
}

main article{
    width: 450px;
    height: 95%;
    background-color: white;
    text-align: center;
}

main aside{
    width: 300px;
    height: 95%;
    background-color: white;
    text-align: center;
}

/*Css para footer*/

footer{
    width: 750px;
    height: 50px;
    display: flex;
    background-color: gold;
}