body{
    background-color: aquamarine
}

/*Css para barra nav*/
nav{
    list-style: none;
    background-color: transparent;
    width: 1000px;
    height: 100px;;
    margin: auto;
    border: solid;
    text-align: center;
    background-color:green;
    display: flex;
    flex-direction: row;

}
.box{
    width: 95%;
    height: 70px;
    background: #fff;
    margin: 15px;
}

/*Css para header*/
header{
    width: 1000px;
    height: 300px;
    display: inline-block;
    background: blue;
    text-align: center;
    margin: auto;
    border: solid;
    display: flex;
}

header div img{
    width: 90%;
    height: 90%;
    padding: 5px;
}
.banner{
width: 800px;
height: 90%;
margin: 10px;
background: #fff;
padding: 5px;
border: 1px solid black;
}

.opciones
{
    width: 200px;
    height: 300;
    flex-direction: row;
    margin: 10px;
}
.opciones div{
    width: 185px;
    height: 30%;
    margin: auto;
    margin-bottom: 15px;
    background: #fff;
}

/*Css para main*/

main{
    width: 1000px;
    height: 500px;
    display: inline-block;
    background-color: burlywood;
    text-align: center;
    margin: auto;
    border: solid;
    display: flex;

}

#article{
    width: 500px;
    height: 95%;
    margin: auto;
    background-color: white;
}

main aside#izquierdo{
    width: 200px;
    height: 95%;
    background-color: yellow;
    margin: 10px;
}

main aside#derecho{
    width: 300px;
    height: 95%;
    background-color: yellow;
    margin: 10px;

}

/*Css para el footer*/
footer{
    width: 1000px;
    height: 50px;
    display: inline-block;
    background-color: goldenrod;
    text-align: center;
    margin: auto;
    border: solid;
    display: flex;
}