/*Css gneral*/

body{
    width: auto;
    height: auto;
    background-color: skyblue;
    color: black;
}

/*Css para header*/

header h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: goldenrod;
    margin: auto;
    width: 50%;
    height: 100%;   
}

/*Css para main*/

main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 50%;
}

main section{
    background-color: gray;
    text-align: center;
    width: 100%;
    height: 100%;
}


main section iframe{
    width: 600px;
    max-width: 50%;
    min-width: 80%;
    height: 450px;
    max-height: 50%;
    min-height: 80%;
}
main section p{
    padding: 5px;
    
}
